<% var isEn = page.type == 'book-en-us' || page.type == 'about-en' %>
<div id="header">
  <a id="logo" href="<%- url_for("/modern-cpp/") %>">
    <% if (isEn) { %>
      <img src="<%- url_for("/modern-cpp/assets/cover-2nd-en-logo.png") %>">
      <span>Modern C++ Tutorial: C++11 to C++26 On the Fly</span>
    <% } else {%>
      <img src="<%- url_for("/modern-cpp/assets/cover-2nd-logo.png") %>">
      <span>现代 C++ 教程：高速上手 C++11 到 C++26</span>
    <% } %>
  </a>
  <ul id="nav">
    <% if (isEn) { %>
      <%- partial('partials/main_menu_en', { context: 'nav' }) %>
    <% } else {%>
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    <% } %>
  </ul>
</div>
