<% var isEn = page.type == 'book-en-us' %>

<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <% if (isEn) { %>
        <%- partial('partials/main_menu_en', { context: 'nav' }) %>
      <% } else {%>
        <%- partial('partials/main_menu', { context: 'nav' }) %>
      <% } %>
    </ul>
  </div>
</div>

<div id="lang-switch">
  <% if (isEn) { %>
    <a class="lang-btn" href="<%- url_for("/modern-cpp/") %>" onclick="try{localStorage.setItem('mcpp-lang','zh')}catch(e){}">
      <span class="flag" style="content: url(/modern-cpp/assets/lang/cn.svg); display: inline-block; width: 15px; height: 15px; vertical-align: middle; margin-right: 6px; margin-bottom: 2px;"></span>中文
    </a>
  <% } else { %>
    <a class="lang-btn" href="<%- url_for("/modern-cpp/en/") %>" onclick="try{localStorage.setItem('mcpp-lang','en')}catch(e){}">
      <span class="flag" style="content: url(/modern-cpp/assets/lang/en.svg); display: inline-block; width: 15px; height: 15px; vertical-align: middle; margin-right: 6px; margin-bottom: 2px;"></span>English
    </a>
  <% } %>
</div>

<% if (isEn) { %>
  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/modern-cpp/assets/cover-2nd-en.png") %>">
      </div><div class="right">
        <h4>Changkun Ou</h4>
        <h1>
          Modern C++ Tutorial
        </h1>
        <h2>C++11 to C++26 On the Fly</h2>
        <h3>SECOND EDITION</h3>
        <p>
          <a class="button white" href="<%- url_for("/modern-cpp/en-us/00-preface/") %>">🇬🇧 Read Online</a>
          <a class="button download" href="<%- url_for("/modern-cpp/pdf/modern-cpp-tutorial-en-us.pdf") %>">🇬🇧 Download</a>
        </p>
      </div>
    </div>
  </div>
<% } else { %>
  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/modern-cpp/assets/cover-2nd.png") %>">
      </div><div class="right">
        <h4>欧长坤 著</h4>
        <h1>
          现代 C++ 教程<br>
        </h1>
        <h2>高速上手 C++11 到 C++26</h2>
        <h3>第二版</h3>
        <p>
          <a class="button white" href="<%- url_for("/modern-cpp/zh-cn/00-preface/") %>">🇨🇳 在线阅读</a>
          <a class="button download" href="<%- url_for("/modern-cpp/pdf/modern-cpp-tutorial-zh-cn.pdf") %>">🇨🇳 下载</a>
        </p>
      </div>
    </div>
  </div>
<% } %>

<div id="footer">
  <% if (isEn) { %>
    <p>
      <a href="https://changkun.de">Changkun Ou</a> &copy; 2016-<%- new Date().getFullYear() %>.
      The book is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0</a>, code is open sourced under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a> License.
    </p>
  <% } else { %>
    <p>
      <a href="https://changkun.de">欧长坤</a> &copy; 2016-<%- new Date().getFullYear() %> 版权所有，
      采用<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议许可</a>，代码使用 <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a> 协议开源。
    </p>
  <% } %>
</div>
